
@font-face {
  font-family: publicSans;
  src: url(/resources/fonts/PublicSans_Light.woff);
}

.title,.container-fluid,p {
  font-family:publicSans, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}


/* body {
  font-family:publicSans, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif;

} */

.grey-background {
  background-color: #fcfbfa;
}

.r-search-box {
  margin: 2px;
  padding: 50px 5px 50px 5px;
  background-image: linear-gradient(rgb(190, 188, 188), #e4e4e4, #fcfbfa);
  text-align: center;
  z-index: 99;
  position: relative;
  /* z-index will only apply to elements with a position rule other than the default 
   add z-index, so the suggested address dropdown will be in the top of other elements.*/
}

#search {
  width: 100%;
  /* display: block; */
  font-size: 14px;
  /* margin: 10px auto; */
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .55), 0px 1px 1px rgba(255, 255, 255, .5);
  border: 1px solid #666;
  opacity: 0.7;
}

#search:hover,
#search:focus {
  opacity: 0.9;
  color: #08c;
  border: 1px solid #08c;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, .25), inset 0px 3px 6px rgba(0, 0, 0, .25);
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.title {
  color: #007aa3;
  margin: 50px auto;
  font-weight: 900;
  text-shadow: 2px 2px DarkGray;
}


header .absolute {
  top: 80px;
  right: 15px;
  width: 300px;
  height: 100px;
}

/* checkbox -- toggle  */

#street-condition-toggle input[type="checkbox"] {
  /*position: absolute;*/
  opacity: 0;
}

#street-condition-toggle input[type="checkbox"].ios-switch+span {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 999px;
  margin: 0 12px;
  background: rgb(175, 175, 175);
  background-image: linear-gradient(rgba(0, 0, 0, .05), transparent), linear-gradient(90deg, #88DB81 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  /*box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
                0 .45em 0 .1em rgba(0,0,0,.05) inset;*/
  font-size: 150%;
  /* change this and see how they adjust! */
}

#street-condition-toggle input[type="checkbox"].ios-switch:checked+span {
  padding-left: 64px;
  /*	width: 74px;*/
  background-position: 0 0;
}

#street-condition-toggle input[type="checkbox"].ios-switch+span:before {
  content: 'ON';
  float: left;
  width: 22px;
  height: 22px;
  margin: 1px;
  /*
    border: 1px solid rgba(0,0,0,.25);*/
  border-radius: inherit;
  background: white;
  /*background-image: linear-gradient(rgba(0,0,0,.1), transparent);
    box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset/*,
                0 0 .5em rgba(0,0,0,.3);*/
  /*
    text-shadow: 0 -1px 1px rgba(0,0,0,.3);*/
  text-indent: -48px;
}

#street-condition-toggle input[type="checkbox"].ios-switch:active+span:before {
  background-color: #eee;
}

#street-condition-toggle input[type="checkbox"].ios-switch+span:before,
#street-condition-toggle input[type="checkbox"].ios-switch+span:after {
  font: bold 60%/1.7 sans-serif;
}

#street-condition-toggle input[type="checkbox"].ios-switch+span:after {
  content: 'OFF';
  float: left;
  text-indent: 8px;
  /*
  position: fixed;
  top: 24px;
    color: rgba(255,255,255,1);*/
  text-shadow: none;
  line-height: 1.8;
}

.switch {
  position: relative;
}

/*  checkbox -- toggle */

.r-title {
  background-color: #007aa3;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.r-content {
  padding: 2px;
}

.r-subtitle {
  color: rgb(29, 29, 65);
  margin-left: 10px;
}

.location-data-tag {
  font-weight: 500;
  font-size: 20px;
}

.location-data-value {
  font-size: 18px;
  text-transform: uppercase;

}

.btn-secondary-right {
  float: right;
}

.font-grey {
  color: #4e4e4e;
}

.copyright {
  font-style: italic;
  line-height: 1.42857;
  font-weight: 400;
  font-size: 14px;
}

.copyright-content {
  font-size: 70%;
  font-weight: 300;
  line-height: 1.4;
}

/* .card-body {
  text-transform: capitalize;
} */

.browser-compatibility-alert {
  padding: 20px;
  top: 150px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.browser-compatibility-alert i {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%)
}

.browser-compatibility-alert .browser-error {
  font-size: 20px;
  padding-left: 110px;
}

.btn-link h3 {
  font-size: 1.33333em;
  text-align: left;
  padding-left: 10px;  
  font-weight: 900;  
  display: inline-block;
}

.card .absolute {
  top: 15px;
  right: 15px;
}

.black-border {
  border: solid 2px #41403E;

}

#open-crime-map {
  color: #fff;
    background-color: #207ff7;
    border-color: #207ff7;
    float: right;
}

.r-content .blue-icon {
  font-weight: 900;
  color: white;
  padding: 4px;
  background-color: #207ff7;

}

.r-content .blue-icon-small {
  font-size: 75%;

}